*{ margin:0; padding:0;}
	
.left{position: fixed; float:left;top: 0; bottom: 0; width:180px; background:#999; border-right:0px #333 solid; }
#right{ overflow:hidden; 　scrollbar-face-color:#f60;　scrollbar-highlight-color:#F60;　scrollbar-3dlight-color:#f60;	　
		scrollbar-darkshadow-color:#f60;　scrollbar-Shadow-color:#f60;　scrollbar-arrow-color:#000;　scrollbar-track-color:#fff;}

nav{position: absolute;margin-left: -10px;margin-top: 214px; width: 200px;  font-family: simhei;  font-size: 14px;}
nav li{list-style: none; }
nav li a:link{ display: block; text-align: center; text-decoration: none;  padding: 15px 0px;} 
nav li a:hover{  font-weight: 700; color: red; }
nav li a:visited{text-decoration: underline ;}

a:link{ color: darkblue; text-decoration: none;}
a:visited{ color: darkblue;}

.subtitle{position: absolute; display: block; margin-left: 280px;margin-top: -10px; width: 920px;  background-color: ; padding: 30px;
		text-align: left; }		
.subtitle_left{ display: block;margin-top: 20px;  z-index: 12;}
.subtitle2{position: absolute; display: block; margin-left: 1300px;margin-top: -10px; width: 500px;  background-color: ; padding: 30px;
		text-align: left; color: #333333; font-size: 12px; }	
.subtitle2 p{line-height: 2em;}

.add{z-index: 4;}

p{text-indent: 2em; line-height:2em; padding: 5px 0;}

.chnintro{position: absolute; display: block; margin-left:280px;margin-top: 60px; width: 700px;  padding: 30px;
		 text-align: justify; font-family: helvetica,"microsoft yahei";color: #222; font-size: 14px;  }
.chnintro2{position: absolute; display: block; margin-left:280px;margin-top: 60px; width: 1500px;  padding: 30px;
		 text-align: justify; font-family: helvetica,"microsoft yahei";color: #222; font-size: 14px;  z-index: -1; }
.chnintro2 ul{list-style: none;}
.chnintro3{position: absolute; display: block; margin-left:500px;margin-top: 60px; width: 1500px;  padding: 30px;
		 text-align: justify; font-family: helvetica,"microsoft yahei";color: #222; font-size: 14px;  z-index: -1; }
.chnintro3 ul{list-style: none;}

.englishintro{position: absolute; display: block; margin-left: 1150px;margin-top: 45px; width:600px;  padding: 30px;
		 text-indent: 2em; text-align: justify; font-family: helvetica; color: #222;font-size: 14px;  z-index: -1;}
		 
.newsbefore{position: absolute; display: block; margin-left: 300px;margin-top:  90px; width:900px; 
		line-height: 32px; background-color: white; padding: 30px;; font-family: "century gothic","microsoft yahei";color: #333333;font-size: 14px;}
.newsupcoming{position: absolute; display: block; margin-left: 1300px;margin-top: 100px; width: 500px; 
		 background-color: white; padding: 30px;; font-family: "century gothic","microsoft yahei";;color: #333333;}
		
.newsname{ display: inline;}
.newsname a{text-decoration: none; color: #333;}
.newsname a:hover{color: royalblue;}
.newsdate{display: inline;float: right; font-family: helvetica;}

.profpic{display: inline; margin-right: 400px;}

.profprof{display: block; margin-right: 400px;}

.english_name {font-size: 10px; color:#333333;font-family: "century gothic";}
.chn_name{font-size: 16px; color: #333333;font-family: "arial rounded mt bold","microsoft yahei";}
.prf{font-size: 12px; color: #333333;font-family: "arial rounded mt bold",simhei;}
.profile{font-size:13px;line-height: 1.5em; color: #333333;font-family: helvetica,"microsoft yahei";}

.tablefont{ background-color: white; font-size: 14px; text-align: justify; 
font-family: "century gothic","microsoft yahei";color: #333333; line-height: 2em;}

.devicename{font-size: 12px; color:#333333;font-family: "microsoft yahei"; text-align: center;}

#myTable{position:absolute; left:310px; top: 100px;font: "century gothic"; font-style= "color: #fff;"; 
z-index: 1; table-layout: fixed;}
#myTable2{position:absolute; left:310px; top: 100px;font: "century gothic","microsoft yahei";font-size: 14px; font-style= "color: #fff;"; 
z-index: 1; text-align: justify;}
#myTable2 a{ text-decoration: none; font-size: 16px; line-height: 2em; color: #333333; font-weight: 600;}
#myTable2  span{ text-decoration: none; font-size: 14px; line-height: 2em;}



